apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: cnpg-i-pgbackrest
    app.kubernetes.io/managed-by: kustomize
  name: pgbackrest-controller-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pgbackrest-controller
subjects:
- kind: ServiceAccount
  name: pgbackrest-controller
  namespace: cnpg-system
