apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: cnpg-i-pgbackrest
    app.kubernetes.io/managed-by: kustomize
  name: pgbackrest-controller
  namespace: cnpg-system
