apiVersion: pgbackrest.dalibo.com/v1
kind: Stanza
metadata:
  labels:
    app.kubernetes.io/name: cnpg-i-pgbackrest
    app.kubernetes.io/managed-by: kustomize
  name: stanza-sample
spec:
  stanzaConfiguration:
    name: main
    archive:
      async: true
      getQueueMax: 128MiB
    processMax: 4
    compressConfig:
      type: lz4
      level: 7
    startFast: false
    logLevel: warn
    customEnvVar:
      PGBACKREST_ARCHIVE_TIMEOUT: "30"
    s3Repositories:
      - bucket: demo
        endpoint: s3.minio.svc.cluster.local
        region: us-east-1
        repoPath: /cluster-demo
        uriStyle: path
        verifyTLS: false
        retentionPolicy:
          full: 7
          fullType: count
          diff: 14
          archive: 2
          archiveType: full
          history: 30
        cipherConfig:
          encryptionPass:
            name: minio
            key: ENCRYPTION_PASS
        secretRef:
          accessKeyId:
            name: minio
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: minio
            key: ACCESS_SECRET_KEY
---
apiVersion: pgbackrest.dalibo.com/v1
kind: Stanza
metadata:
  labels:
    app.kubernetes.io/name: cnpg-i-pgbackrest
    app.kubernetes.io/managed-by: kustomize
  name: recovery-repository-sample
spec:
  stanzaConfiguration:
    name: main
    s3Repositories:
      - bucket: demo
        endpoint: s3.minio.svc.cluster.local
        region: us-east-1
        repoPath: /cluster-demo
        uriStyle: path
        verifyTLS: false
        retentionPolicy:
          full: 7
          fullType: count
          diff: 14
          archive: 2
          archiveType: full
          history: 30
        secretRef:
          accessKeyId:
            name: minio
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: minio
            key: ACCESS_SECRET_KEY
