---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: pgbackrest-controller
  name: pgbackrest-controller
  namespace: cnpg-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pgbackrest-controller
rules:
  - apiGroups:
      - ''
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: pgbackrest-controller
  namespace: cnpg-system
rules:
  - apiGroups:
      - ''
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pgbackrest-controller
  namespace: cnpg-system
subjects:
  - kind: ServiceAccount
    name: pgbackrest-controller
    namespace: cnpg-system
roleRef:
  kind: Role
  name: pgbackrest-controller
  apiGroup: rbac.authorization.k8s.io
