---
name: unit
on:
  - push
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4
      - name: List file
        run: find .
      - name: Setup Go 1.25.x
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - name: Display Go version
        run: go version
      - name: Install dependencies
        run: go mod tidy
      - name: Try to build
        run:  go build -o /tmp/cnpgi-pgbackrest -v ./cmd
      - name: Run unit tests
        run: go test ./internal/...
